<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Team HuMa's Phone DB</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
	<link rel="stylesheet" href="style.css" media="screen">
    <a href="/">home</a>
</head>

<body>
	{{{body}}}
</body>
</html>
