<main>
<div>
    <nav class="navbar">
        <button class="nav-buttons">Phones</button>
        <button class="nav-buttons">Owners</button>
        <button class="nav-buttons">Carriers</button>
        <button class="nav-buttons">Manufacturers</button>
    </nav>
</div>

<div class="explain">

</div>
</main>