<h2>Welcome to our phone database! Operations available are Add, Delete,and Manage. Entities available to be changed are Phone and Owner.</h2>
<main>

<div class="selectOptions">

<select class="selectOperations">
   <option>Choose Operation</option>
   <option>Read</option>
   <option>Create</option>
   <option>Search</option>
</select>

</div>

</main>
