<h2>Welcome to our phone database! Operations Add, Delete, and Update are available after chosing an entity to change.</h2>
<main>

<div class="selectOptions">

<a href="/phone">Phones</a><br>
<a href="/owner">Owners</a><br>
<a href="/manufacturer">Manufacturers</a><br>
<a href="/carrier">Carriers</a><br>

</div>

</main>
