<h2>Welcome to our phone database! Operations available are Add, Delete,and Manage. Entities available to be changed are Phone and Owner.</h2>
<main>

<nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/phone">Phone</a></li>
      <li class="navitem navlink"><a href="/owner">Owner</a></li>
    </ul>
</nav>

<div class="selectOptions">
<select class="selectOperation">
   <option>Choose Operation</option>
   <option>Add</option>
   <option>Delete</option>
   <option>Manage</option>
</select>

<select class="selectEntity">
   <option>Choose Entity</option>
   <option>Phone</option>
   <option>Owner</option>
</select>
</div>

<div class="propertyFields"></div>

</main>
