<main>
<div>
    <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="#">Phone</a></li>
          <li class="navitem navlink"><a href="#">Owner</a></li>
          <li class="navitem navlink"><a href="#">Manufacturer</a></li>
          <li class="navitem navlink"><a href = "#">Carrier</a></li>
    </nav>
</div>

<div class="explain">
<h2>Welcome to our phone database! To manage or add a phone, owner, manufacturer, or carrier, click their respective tab in the navbar.</h2>
</div>
</main>