<h2>Welcome to our phone database! Operations Add, Delete, and Update are available after chosing an entity to change.</h2>
<main>

<div class="selectOptions">

<a href="/phone">Phones</a>
<a href="/owner">Owners</a>
<a href="/manufacturer">Manufacturers</a>
<a href="/carrier">Carriers</a>

<select class="selectOperations">
   <option>Choose Operation</option><br>
   <option>Read</option><br>
   <option>Create</option><br>
   <option>Search</option><br>
</select>

</div>

</main>
