<h1>Add Manufacturer</h1>
<form id="new_man" action="/manufacturer" method="post">
    Name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
</form>


<h3>Current Manufacturers:</h3>
<table>
    <thead>
    </thead>
    <tbody>
        {{#each man}}
        <tr>
            <td>{{name}}</td>
            <td><button onclick="deleteMan({{id}})"> Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

