<h1>Add Owner</h1>
<form id="new_owner" action="/owner" method="post">
    First Name: <input type="text" name="f_name"><br>
    Last Name: <input type="text" name="l_name"><br>
    <input type="submit" value="Submit">
</form>


<h3>Current Owners:</h3>
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
        {{#each owner}}
        <tr>
            <td>{{f_name}}</td>
            <td>{{l_name}}</td>
            <td><button onclick="deleteOwner({{id}})"> Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

